body{
font-family:Arial,sans-serif;
margin:0;
background:#f4f6f9;
}

header{
background:#1e3a8a;
color:white;
text-align:center;
padding:30px;
}

h2{
color:#1e3a8a;
}

section{
width:85%;
margin:20px auto;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#2563eb;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#1d4ed8;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

table,th,td{
border:1px solid #ddd;
}

th{
background:#2563eb;
color:white;
}

th,td{
padding:10px;
text-align:center;
}

ul{
background:white;
padding:20px;
border-radius:10px;
}

footer{
background:#1e3a8a;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}